# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Astro
.astro/
dist/
.pnpmfile.cjs

# Misc
assets/js/dist

.DS_Store